DevExpTempTest/Connected Services/RDCService/SelectFromRDC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RubriqueDocumentComptable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_latestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RubriqueDocumentComptableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RubriqueDocumentComptableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RubriqueDocumentComptableSoapIn">
    <wsdl:part name="parameters" element="tns:RubriqueDocumentComptable" />
  </wsdl:message>
  <wsdl:message name="RubriqueDocumentComptableSoapOut">
    <wsdl:part name="parameters" element="tns:RubriqueDocumentComptableResponse" />
  </wsdl:message>
  <wsdl:portType name="SelectFromRDCSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <wsdl:input message="tns:RubriqueDocumentComptableSoapIn" />
      <wsdl:output message="tns:RubriqueDocumentComptableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SelectFromRDCSoap" type="tns:SelectFromRDCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <soap:operation soapAction="http://tempuri.org/RubriqueDocumentComptable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SelectFromRDCSoap12" type="tns:SelectFromRDCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <soap12:operation soapAction="http://tempuri.org/RubriqueDocumentComptable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelectFromRDC">
    <wsdl:port name="SelectFromRDCSoap" binding="tns:SelectFromRDCSoap">
      <soap:address location="http://localhost/Get_n_RowsFromRDC/SelectFromRDC.asmx" />
    </wsdl:port>
    <wsdl:port name="SelectFromRDCSoap12" binding="tns:SelectFromRDCSoap12">
      <soap12:address location="http://localhost/Get_n_RowsFromRDC/SelectFromRDC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>