DevExpTempTest/Connected Services/bonLivraisonWSReference/bonLivraisonWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="selectAllFromBonLivraison">
        <s:complexType />
      </s:element>
      <s:element name="selectAllFromBonLivraisonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllFromBonLivraisonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="selectAllFromBonLivraisonSoapIn">
    <wsdl:part name="parameters" element="tns:selectAllFromBonLivraison" />
  </wsdl:message>
  <wsdl:message name="selectAllFromBonLivraisonSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllFromBonLivraisonResponse" />
  </wsdl:message>
  <wsdl:portType name="bonLivraisonWSSoap">
    <wsdl:operation name="selectAllFromBonLivraison">
      <wsdl:input message="tns:selectAllFromBonLivraisonSoapIn" />
      <wsdl:output message="tns:selectAllFromBonLivraisonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bonLivraisonWSSoap" type="tns:bonLivraisonWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllFromBonLivraison">
      <soap:operation soapAction="http://tempuri.org/selectAllFromBonLivraison" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bonLivraisonWSSoap12" type="tns:bonLivraisonWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllFromBonLivraison">
      <soap12:operation soapAction="http://tempuri.org/selectAllFromBonLivraison" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bonLivraisonWS">
    <wsdl:port name="bonLivraisonWSSoap" binding="tns:bonLivraisonWSSoap">
      <soap:address location="http://localhost:49718/bonLivraisonWS.asmx" />
    </wsdl:port>
    <wsdl:port name="bonLivraisonWSSoap12" binding="tns:bonLivraisonWSSoap12">
      <soap12:address location="http://localhost:49718/bonLivraisonWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>