DevExpTempTest/Connected Services/RDCHostedWebService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Count">
        <s:complexType />
      </s:element>
      <s:element name="CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RubriqueDocumentComptable">
        <s:complexType />
      </s:element>
      <s:element name="RubriqueDocumentComptableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RubriqueDocumentComptableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select_N_RubriqueDocumentComptable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_NombreDesLignes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select_N_RubriqueDocumentComptableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Select_N_RubriqueDocumentComptableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select_N_RubriqueDocumentComptableFormaJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_NombreDesLignes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_latestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select_N_RubriqueDocumentComptableFormaJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Select_N_RubriqueDocumentComptableFormaJSONResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CountSoapIn">
    <wsdl:part name="parameters" element="tns:Count" />
  </wsdl:message>
  <wsdl:message name="CountSoapOut">
    <wsdl:part name="parameters" element="tns:CountResponse" />
  </wsdl:message>
  <wsdl:message name="RubriqueDocumentComptableSoapIn">
    <wsdl:part name="parameters" element="tns:RubriqueDocumentComptable" />
  </wsdl:message>
  <wsdl:message name="RubriqueDocumentComptableSoapOut">
    <wsdl:part name="parameters" element="tns:RubriqueDocumentComptableResponse" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableSoapIn">
    <wsdl:part name="parameters" element="tns:Select_N_RubriqueDocumentComptable" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableSoapOut">
    <wsdl:part name="parameters" element="tns:Select_N_RubriqueDocumentComptableResponse" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableFormaJSONSoapIn">
    <wsdl:part name="parameters" element="tns:Select_N_RubriqueDocumentComptableFormaJSON" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableFormaJSONSoapOut">
    <wsdl:part name="parameters" element="tns:Select_N_RubriqueDocumentComptableFormaJSONResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountHttpGetIn" />
  <wsdl:message name="CountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RubriqueDocumentComptableHttpGetIn" />
  <wsdl:message name="RubriqueDocumentComptableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableHttpGetIn">
    <wsdl:part name="_NombreDesLignes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableFormaJSONHttpGetIn">
    <wsdl:part name="_NombreDesLignes" type="s:string" />
    <wsdl:part name="_latestId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableFormaJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountHttpPostIn" />
  <wsdl:message name="CountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RubriqueDocumentComptableHttpPostIn" />
  <wsdl:message name="RubriqueDocumentComptableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableHttpPostIn">
    <wsdl:part name="_NombreDesLignes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableFormaJSONHttpPostIn">
    <wsdl:part name="_NombreDesLignes" type="s:string" />
    <wsdl:part name="_latestId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Select_N_RubriqueDocumentComptableFormaJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:input message="tns:CountSoapIn" />
      <wsdl:output message="tns:CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <wsdl:input message="tns:RubriqueDocumentComptableSoapIn" />
      <wsdl:output message="tns:RubriqueDocumentComptableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptable">
      <wsdl:input message="tns:Select_N_RubriqueDocumentComptableSoapIn" />
      <wsdl:output message="tns:Select_N_RubriqueDocumentComptableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptableFormaJSON">
      <wsdl:input message="tns:Select_N_RubriqueDocumentComptableFormaJSONSoapIn" />
      <wsdl:output message="tns:Select_N_RubriqueDocumentComptableFormaJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:input message="tns:CountHttpGetIn" />
      <wsdl:output message="tns:CountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <wsdl:input message="tns:RubriqueDocumentComptableHttpGetIn" />
      <wsdl:output message="tns:RubriqueDocumentComptableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptable">
      <wsdl:input message="tns:Select_N_RubriqueDocumentComptableHttpGetIn" />
      <wsdl:output message="tns:Select_N_RubriqueDocumentComptableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptableFormaJSON">
      <wsdl:input message="tns:Select_N_RubriqueDocumentComptableFormaJSONHttpGetIn" />
      <wsdl:output message="tns:Select_N_RubriqueDocumentComptableFormaJSONHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:input message="tns:CountHttpPostIn" />
      <wsdl:output message="tns:CountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <wsdl:input message="tns:RubriqueDocumentComptableHttpPostIn" />
      <wsdl:output message="tns:RubriqueDocumentComptableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptable">
      <wsdl:input message="tns:Select_N_RubriqueDocumentComptableHttpPostIn" />
      <wsdl:output message="tns:Select_N_RubriqueDocumentComptableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptableFormaJSON">
      <wsdl:input message="tns:Select_N_RubriqueDocumentComptableFormaJSONHttpPostIn" />
      <wsdl:output message="tns:Select_N_RubriqueDocumentComptableFormaJSONHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap:operation soapAction="http://tempuri.org/Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <soap:operation soapAction="http://tempuri.org/RubriqueDocumentComptable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptable">
      <soap:operation soapAction="http://tempuri.org/Select_N_RubriqueDocumentComptable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptableFormaJSON">
      <soap:operation soapAction="http://tempuri.org/Select_N_RubriqueDocumentComptableFormaJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap12:operation soapAction="http://tempuri.org/Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <soap12:operation soapAction="http://tempuri.org/RubriqueDocumentComptable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptable">
      <soap12:operation soapAction="http://tempuri.org/Select_N_RubriqueDocumentComptable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptableFormaJSON">
      <soap12:operation soapAction="http://tempuri.org/Select_N_RubriqueDocumentComptableFormaJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <http:operation location="/Count" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <http:operation location="/RubriqueDocumentComptable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptable">
      <http:operation location="/Select_N_RubriqueDocumentComptable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptableFormaJSON">
      <http:operation location="/Select_N_RubriqueDocumentComptableFormaJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpPost" type="tns:WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <http:operation location="/Count" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RubriqueDocumentComptable">
      <http:operation location="/RubriqueDocumentComptable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptable">
      <http:operation location="/Select_N_RubriqueDocumentComptable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_N_RubriqueDocumentComptableFormaJSON">
      <http:operation location="/Select_N_RubriqueDocumentComptableFormaJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://197.13.3.101/RDCWebService/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://197.13.3.101/RDCWebService/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://197.13.3.101/RDCWebService/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpPost" binding="tns:WebService1HttpPost">
      <http:address location="http://197.13.3.101/RDCWebService/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>